body {
  margin: 0;
  font-family: 'Helvetica';
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: #f5f6fa;
}
p{
   margin: 0;
}


/* CREATION PANEL */

.create{
   color: #fff;
   width: 60%;
   margin: 0 auto;
}

.nav-bar{
   padding: 15px;
   display: flex;
   justify-content: space-around;
   background-color: #43c11d;
}

.nav-bar a{
   color: #000;
}

.nav-bar a:hover{
   color: #fff;
}

.cp-body{
   background-color: #141414;
   padding: 20px;
}

.post-creation-panel{
   padding: 20px;
   border: 1px solid #43c11d;
}

.manual h3{
   border-bottom: 1px solid #43c11d;
}

input, textarea{
   margin: 0 0 15px 0;
}
.required{
   border: 2px solid red;
}

textarea{
   height: 200px;
}

.post-id{
   width: 100%;
   height: 25px;
}

.edit-bar{
   width: 200px;
}

.piclink{
   border-bottom: 1px solid #43c11d;
   margin-bottom: 15px;
}

.btn-danger{
   background-color: red;
   border: 1px solid red;
}

.btn{
   padding: 0 .75rem;
}

.blog-part{
   margin: 15px 0 15px 0;
   border-bottom: 1px solid #43c11d;
}

.post-load{
   border-bottom: 1px solid #43c11d;
   margin-bottom: 8px;
}

/* CREATION PANEL */

/* HEADER */

.header{
   margin: 0;
   color: #fff;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(./images/pic.jpg) no-repeat left 50px center #1f5f0b;
}
.header h3{
   margin: 0 0 0 50px;
}
.header a:hover{
   color: #fff;
}

/* HEADER */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
   margin: 0;
}

ul{
   list-style-type: none;
}



.nav{
   display: flex;
   justify-content: center;
}
.nav-item{
   margin-left: 12px;
   margin-right: 12px;
}
a{
   text-decoration: none;
   color: inherit;
}
a:hover{
   text-decoration: none;
   color: #43c11d;
}

ul{
   margin: 0;
   padding: 0;
}

/* HOME */

.home{
   margin: 20px 20px 20px 70px;
   display: flex;
}

.home-feed{
   width: 75%;
}

.home-preview-block{
   padding: 0 12px 12px 0 ;
   width: 100%;
   height: 612px;
   display: grid;
   grid-template-areas: 
   "a a a b b b"
   "c c d d e e";
}

.home-preview-block > div:nth-child(1){
   grid-area: a;
   height: 350px;
}
.home-preview-block > div:nth-child(2){
   grid-area: b;
   height: 350px;
}
.home-preview-block > div:nth-child(3){
   grid-area: c;
   height: 250px;
}
.home-preview-block > div:nth-child(4){
   grid-area: d;
   height: 250px;
}
.home-preview-block > div:nth-child(5){
   grid-area: e;
   height: 250px;
}

.overview-post-wrapper{
   overflow: hidden;
   position: relative;
   padding: 16px;
}

.details{
   width: 100%;
   position: absolute;
   bottom: -40px;
   transition: 0.3s;
   padding-right: 32px;
}

.details h4{
   margin-bottom: 12px;
}

.date-game{
   height: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 10px;
}

.overview-post-wrapper:hover .details{
   bottom: 0px;
}

.home-news-block{
   
}

.home-news-list{
   float: left;
   width: 40%;
   background-color: #000;
   padding: 16px;
   
}

.news-list-head{
   padding: 0 0 16px 0;
   border-bottom: 1px solid #f2f2f2;
   margin: 0 0 16px 0;
   color: #43c11d;
}

.news-list-head h5, .blog-list-head h5{
   margin: 0;
}

.news-list-item{
   display: flex;
   margin: 0 0 16px 0;
   align-items: center;
}

.news-list-item h6{
   margin: 0;
}

.date{
   color: #757575;
   font-size: 0.8rem;
   display: flex;
   align-items: center;
}

.home-blog-list{
   float: right;
   width: 60%;
   padding: 0px 6px 0 6px;
   
}

.blog-list-body{
   display: flex;
   flex-wrap: wrap;
}

.blog-list-head{
   padding: 16px 0 16px 16px;
   margin: 0 6px 6px 6px;
   color: #43c11d;
   background-color: #2f2f2f;
}

.home-blog-list .blog-preview-wrapper{
   padding: 6px;
   width: 50%;
}

.home-blog-list .blog-preview-head{
   border-bottom: 1px solid #757575;
}

   /* aside */

   .aside{
      width: 25%;
   }
   .aside-body{
      background-color: #000;
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   .game-preview{
      width: 100%;
      padding: 12px;
   }

   .game-preview-body{
      background-color: #000;
      color: #d9d9d9;
      padding: 12px 6px 12px 6px;
      border-bottom: 1px solid #757575;
   }

   /* aside */

/* HOME */



.main-block{
   width: 60%;
   padding: 1px;
}
.sub-main-block{
   width: 40%;
}
.sub-main-new{
   margin: 0 0 0 0px;
   height: 50%;
   padding: 1px;
}

/* MENU */

.menu-body{
   display: flex;
   height: calc(100% - 50px)
}
.menu-collapse{
   width: 50px;
   height: 100%;
   padding-bottom: 16px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
.social-link{
   color: #a3afc0;
   margin: 8px 0 8px 0;
}
.social-link:hover{
   color: #43c11d;
}
.menu-fixed{
   left: -200px;
   top: 0px;
   background-color: #151515;
   position: fixed;
   width: 250px;
   height: 100vh;
   z-index: 1;
   transition: 0.3s;
}
.menu-fixed:hover{
   left: 0;
}

.menu-head{
   height: 50px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   color: #43c11d;
   
}
.logo-title{
   padding: 10px 0px 10px 0px;
   width: 180px;
   margin: 0 0 0 20px;
   border-bottom: 1px solid #43c11d;
}
.menu-logo{
   width: 50px;
   height: 50px;
}

.navigation{
   margin: 18px 0 20px 20px;
   display: flex;
   flex-direction: column;
   width: 180px;
   height: calc(100% - 90px);
}
.menu-list-elem{
   margin-bottom: 18px;
   font-size: 18px;
}

.games-list{
   border-top: 1px solid #43c11d;
   padding: 18px 0 0 0;
}

.games-list-elem{
   margin-bottom: 12px;
   display: flex;
   align-items: center;
}

.icon{
   width: 1rem;
   height: 1rem;
   margin-right: 16px;
}

/* MENU */

/* NEWS PAGE */

.news-list{
   margin: 8px 8px 8px 58px;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.news-post{
   padding: 8px;
   display: flex;
   flex-direction: column;
}

.news-post-data{
   color: #757575;
}

.news-post-data a{
   color: #3aa51a;
}

.news-post-data a:hover{
   color: #2f2f2f;
}

.news-post-data .icon{
   margin-right: 12px;
}

.news-post-body{
   color: #000;
   background-color: #f2f2f2;
   padding: 8px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1;
}

.news-post h5{
   margin-bottom: 16px;
}

/* NEWS PAGE */

/* TOURNAMENTS */

.tournaments{
   margin: 0 0 0 50px;
   height: calc(100vh - 50px);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ttable-menu{
   display: flex;
   margin: 20px 0;
}
.tournaments table{
   width: 800px;
}
.tournaments td {
  padding: 20px 0px;
  border-bottom: 1px solid #43c11d;
}

.tournaments th{
   border-bottom: 1px solid #43c11d;
}

.tournaments th, td{
   text-align: center;
}

.t-link1, .t-link2, .t-link3{
   padding: 5px 15px;
   color: #fff;
}

.active-link{
   color: #f5f6fa;
   background-color: #43c11d;
}

.t-link1{
   border: 1px solid #43c11d;
   border-radius: 5px 0 0 5px;
}

.t-link2{
   border-top: 1px solid #43c11d;
   border-bottom: 1px solid #43c11d;
}

.t-link3{
   border: 1px solid #43c11d;
   border-radius: 0 5px 5px 0;
}

/* TOURNAMENTS */

/* BLOG LIST */

.blog-list{
   margin: 8px 8px 8px 58px;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog-preview-wrapper{
   padding: 8px;
  
}

.blog-preview{
   padding: 8px;
   background-color: #2f2f2f;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.blog-preview-head{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0 0 8px 0;
   border-bottom: 1px solid #43c11d;
}

.avatar{
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin: 0 20px 0 0;
}

.blog-preview-head h5{
   margin: 0;
}

.blog-preview-body{
   padding: 8px 0 0 0;
   background-color: #2f2f2f;
   display: flex;
   flex-direction: column;
}

.blog-preview-text{
   overflow: hidden;
   padding: 0 0 8px 0;
}

.blog-preview-data{
   display: flex;
   justify-content: space-between;
   padding: 8px 0 0 0;
   color: #989898;
   border-top: 1px solid #43c11d; 
}

/* BLOG LIST */

/* POST OVERVIEW */

.post-overview-wrapper{
   margin: 20px auto;
   display: flex;
   width: 70%;
   color: #d2d2d2;
}

.post-overview{
   width: 60%;
   padding: 12px;
   margin: 0;
   background-color: #151515;

}

.post-overview-head{
   margin: 0 0 12px 0;
}

.post-overview-head .title{
   border-bottom: 1px solid #757575;
   margin-bottom: 12px;
}

.post-overview-head .data{
   display: flex;
   justify-content: space-between;
   padding: 0 0.4rem;
   color: #757575;
}

.post-overview-head h3{
   padding: 0 0.4rem;
}

.post-overview-body{
   margin: 12px 6px 0px 6px;
   font-family: Lora, Georgia, "Times New Roman", Times, serif;
}


/* POST OVERVIEW */


/* BLOG OVERVIEW */

.blog-overview-wrapper{
   margin: 20px 20px 20px 70px;
   display: flex;
   justify-content: left;
   /* background-color: #0c0c0c; */
}

.blog-overview{
   width: 700px;
   padding: 12px;
   margin: 0 auto;
}

.blog-overview-head {
   padding-bottom: 12px;
   border-bottom: 1px solid #757575;
}

.blog-overview-head .author, .blog-overview-head h2{
   padding: 0 6px 0 6px;
}

.blog-overview-head h2{
   margin-bottom: 20px;
}

.blog-overview-head h6{
   margin-bottom: 0;
   color: #f2f2f2;
}

.blog-overview-body{
   padding: 12px 6px 0 6px;
}

.blog-section, .blog-section p{
   margin-bottom: 12px;
}

/* BLOG OVERVIEW */

/* GAME OVERVIEW */

.game-overview{
   margin: 20px 20px 20px 70px;
}

.game-overview-news{
   width: 75%;
   height: 550px;
   display: grid;
   grid-template-areas: 
   "a a a b b b"
   "c c d d e e";
   padding: 0 12px 12px 0;
}

.game-overview-news > div:nth-child(1){
   grid-area: a;
   height: 350px;
}
.game-overview-news > div:nth-child(2){
   grid-area: b;
   height: 350px;
}
.game-overview-news > div:nth-child(3){
   grid-area: c;
   height: 200px;
}
.game-overview-news > div:nth-child(4){
   grid-area: d;
   height: 200px;
}
.game-overview-news > div:nth-child(5){
   grid-area: e;
   height: 200px;
}

.game-overview-aside{
   width: 25%;
   background-color: #000;
}

.game-overview .home-news-block{
   margin-top: 12px;
}

.game-overview .home-blog-list{
   padding: 0 0 0 12px;;
   margin: 0;
}

.game-overview .blog-list-head{
   margin: 0 0 6px 0;
}

.game-overview .blog-list-body{
   margin: 0 -6px 0 -6px;
}

.game-overview-tournaments{
   padding: 0 12px 0 12px;
}


/* GAME OVERVIEW */

.drop-data{
   background-color: red;
   color: #fff;
}
