body {
  margin: 0;
  font-family: 'Helvetica';
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e2;
  color: #f5f6fa;
}
p{
   margin: 0;
}
/* CREATION PANEL */

.create{
   color: #fff;
   width: 60%;
   margin: 0 auto;
}

.nav-bar{
   padding: 15px;
   display: flex;
   justify-content: space-around;
   background-color: #ff8519;
}

.nav-bar a{
   color: #000;
}

.nav-bar a:hover{
   color: #fff;
}

.cp-body{
   background-color: #1c1c1c;
   padding: 20px;
}

.post-creation-panel{
   padding: 20px;
   border: 1px solid #fbc531;
}

.manual h3{
   border-bottom: 1px solid #fbc531;
}

input, textarea{
   margin: 0 0 15px 0;
}
.required{
   border: 2px solid red;
}

textarea{
   height: 200px;
}

/* CREATION PANEL */

/* HEADER */

.header{
   margin: 0;
   color: #fff;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(./images/pic.png) no-repeat left 49px top 0px #ff8519;
}

.header h3{
   margin-left: 50px;
}

/* HEADER */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
   margin: 0;
}

ul{
   list-style-type: none;
}



.nav{
   display: flex;
   justify-content: center;
}
.nav-item{
   margin-left: 12px;
   margin-right: 12px;
}
a{
   text-decoration: none;
   color: inherit;
}
a:hover{
   text-decoration: none;
   color: #fbc531;
}
.home{
   background-color: #1c1c1c;
}
.feedHeader{
   height: 400px;
}

.newsFeed{
   z-index: 0;
   padding: 15px 15px 15px 65px;
   /* background-color: #1c1c1c; */
}


/* ASIDE */

.aside{
   padding: 15px 15px 15px 0px;
}
.aside-body{
   background-color: #000;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}
.game-preview{
   width: 100%;
   padding: 10px;
}

.game-preview-body{
   background-color: #000;
   color: #d9d9d9;
   padding: 15px;
}

/* ASIDE */

.main-block{
   width: 60%;
   padding: 1px;
}
.sub-main-block{
   width: 40%;
}
.sub-main-new{
   margin: 0 0 0 0px;
   height: 50%;
   padding: 1px;
}

/* MENU */

.menu-body{
   display: flex;
   height: calc(100% - 50px)
}
.menu-collapse{
   width: 50px;
   height: 100%;
   padding-bottom: 16px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
.social-link{
   color: #a3afc0;
   margin: 8px 0 8px 0;
}
.social-link:hover{
   color: #fbc531;
}
.menu-fixed{
   left: -200px;
   top: 0px;
   background-color: #151515;
   /* border-right: 1px solid #fbc531; */
   position: fixed;
   width: 250px;
   height: 100vh;
   z-index: 1;
   transition: 0.3s;
}
.menu-fixed:hover{
   left: 0;
}

.menu-head{
   height: 50px;
   width: 100%;
   background-color: #151515;
   display: flex;
   justify-content: space-between;
   color: #e1b12c;
}
.logo-title{
   margin: auto 0 auto 20px;
}
.menu-logo{
   width: 50px;
   height: 50px;
}

.navigation{
   margin: 20px 0 20px 20px;
   display: flex;
   flex-direction: column;
   width: 180px;
   height: calc(100% - 90px);
}
.menu-list-elem{
   margin-bottom: 18px;
   font-size: 18px;
}

.games-list{
   border-top: 1px solid #e1b12c;
   padding: 18px 0 0 0;
}

.games-list-elem{
   margin-bottom: 12px;
   display: flex;
   align-items: center;
}

.icon-container{
   width: 24px;
   height: 24px;
}
.icon{
   width: 20px;
   height: 20px;
   margin-right: 20px;
}

/* MENU */

.feedPattern{
   margin: 0 0px;
}
.post-wrapper{
   padding: 1px;
   
   min-height: 250px;
}

.post{
   /* border-radius: 5px; */
   position: relative;
   overflow: hidden;
}

.details{
   position: absolute;
   bottom: -50px;
   transition: 0.3s;
   padding-right: 1rem;
}
.date-game{
   height: 50px;
   display: flex;
   justify-content: space-between;
}
.post:hover .details{
   bottom: 0px;
}

ul{
   margin: 0;
   padding: 0;
}
/* NEWS PAGE */
.news-list{
   margin: 8px 8px 8px 58px;
}

.news-post{
   padding: 8px;
}
/* .news-post-header{

} */
.news-post-body{
   color: #000;
   background-color: #fff;
   padding: 8px;
}
/* NEWS PAGE */

/* TOURNAMENTS */

.tournaments{
   margin: 0 0 0 50px;
   display: flex;
   justify-content: center;
   color: #000;
}

/* TOURNAMENTS */
